html, body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    display: flex;
    height: 64px;
    margin: 0 24px;
    max-width: 100%;
}

header span {
    display: flex;
    color: #d9d8da;
    align-items: center;
    font-size: 32px;
}

header li {
    list-style: none;
    display: inline-flex;
    margin-inline-start: 16px;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

b {
    color: #000000;
}

.main {
    background-color: #d9d8da;
    max-width: 100%;
    display: flex;
}

.main img {
    width: 60%;
    margin: 32px 24px;
}

.text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: #4b4a4c;
    font-size: 28px;
}

.text span {
    color: #4b4a4c;
    font-weight: bold;
    padding-bottom: 16px;
}

.text button {
    width: 80%;
    padding: 16px 0;
    background-color: #4b4a4c;
    color: #ffffff;
    border: 0;
    font-size: 24px;
}

.nav {
    width: 100%;
}

.infos {
    display: flex;
    max-width: 100%;
}

.inf {
    width: 60%;
    flex-wrap: wrap;
    padding: 32px 24px;
}

.inf img {
    width: 100%;
}

.inf h1 {
    width: 100%;
}

.inf span {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#text {
    padding-top: 28px;
}

.right {
    max-width: 40%;
    flex-wrap: wrap;
    display: flex;
    border-radius: 6px;
    border-color: #4b4a4c;
    align-content: flex-start;
    margin-top: 16px;
}

.content {
    display: inline-flex;
    margin: 16px;
}

.content img {
    max-width: 35%;
    display: inline-flex;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 65%;
    margin-left: 35px;
}

.cont h1 {
    height: auto;
    margin: auto 0;
    margin-block: 0;
}

.cont span {
    margin-right: 40px;
}

.link {
    color: #0000ff;
}

 .mort {
    background-color: #d9d8da;
    max-width: 100%;
    padding: 32px 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .mort h1 {
    width: 100%;
    text-align: center;
    padding: 32px 48px;
 }

.fa {

    width: 350px;
    margin-left: 32px;
    margin-bottom: 32px;
}

.fa img {
    height: auto;
    width: 100%;
}

.fa span {
    padding-bottom: 24px;
    padding-left: 16px;
}

.fa a {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 100%;   
    background-color: #ffffff;
    z-index: 6;
}

.fa h2 {
    padding-left: 16px;
    display: flex;
}

#og {
    padding-top: 8px;
}

.fa p {
    padding-left: 16px;
    display: flex;
}

